// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

.post {
	height: 100%;	
	&:hover { 
			cursor: pointer; 
			border-right:solid gray;
	}
}
